@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* Employees Css start from line 117 */

/* BASE CSS */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.base-body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* THE NAVIGATION STYLES */
.side-navigation{
    height: 100vh;
    width: 18%;
    overflow: "hidden";
    background-color: #FFFF;
}

.hamburger{
    display: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
}

.terminate-icon{
    display: none;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 2rem;
}

#terminate{
    font-size: 1rem;
    color: red;
    background-color: none;
}

.side-navigation .navigation-section{
    margin: 2rem 1rem;
    height: 70%;
}

.navigation-logo{
    text-align: center;
}

.alt-search{
    display: none;
}

.navigation-content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
    color: #373737;

}

hr{
    background: #c0bebe;

}

#logo{
    margin-bottom: 1rem;
}

#dashboardId{
    background-color: #990202 !important;
    color: black !important;
}

#employeeId{
    background-color: #990202 !important;
}

#dash-text{
    color: black;
}


/* THE DASHBOARD STYLES */
.dashboard-section{
    height: 100vh;
    width: 82%;
    overflow: auto;
    padding: 2rem;
    padding-top: 4rem;
    background-color: #F5F5F5;
}

.dashboard-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


#dashboardHead{
    font-size: 20px !important;
    font-weight: 800;
}

select{
    padding: 10px; 
    background-color:#ffff; 
    border:none; 
    border-radius: 7px;
    font-family: "Inter";
}

select:focus{
    outline: none;
}

/* END BASE CSS */


/* START EMPLOYEES CSS */
.custom-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    min-width: 140px;
    padding: 1rem;
    color: #ffff !important;
    background-color: #990202;
}

.custom-search{
    height: 15px;
    width: 40px;
    padding: 5px;
    font-family: "Poppins";
    font-size: 10px;
    color: #ffff !important;
    background-color: #990202;
}

.upload-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
    padding: 1rem;
    margin-right: 1rem;
    color: #990202 !important;
    border: 1px solid #990202;
    background-color: rgba(153, 2, 2, 0.05);
}

.input-addons{
    display: flex;
}

.search-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
}

.search-container{
    display: flex;
    align-items: center;
    height: 58px;
    width: 80%;    
    padding: 0 1rem;
    background-color: #ffff;
}

.filter-container{
    display: flex;
    align-items: center;
    height: 58px;
    width: 12%;
    padding: 0 1rem;
    background-color: #ffff;
}

.alt-search{
    overflow: hidden;
}

.employees{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;
    padding: 0;
}

.employee-card{
    width: 250px;
    height: 345px;
    background-color: #ffff;
    margin-bottom: 1rem;
}

.employee-image{
    width: 250px;
    height: 245px;
}

.employee-profile{
    text-align: center;
}


img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }


#staff-text{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

#hint{
    font-size: 12px;
    color: #4A4A4A;
}

#add-text{
    font-size: 12px;
}

#add-icon{
    font-size: 25px;
    font-weight: 400;
}

#search-input{
    height: 58px;
    width: 951px;
    padding: 0px 16px 0px 16px; 
    border:0px;
    }

#search-input:focus{
        outline: none;
    }

#employee-name{
    color: #990202;
    font-size: 15px;
    margin-top: 1rem;
}

#employee-position{
    color: #990202;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 1rem;
}

#employee-department{
    color: #727272;
    font-size: 11px;
}

#dashboardId{
    color: #0000 !important;
    background-color: #990202 !important;
}


#employ-text{
    color: white;
}

/* END EMPLOYEES CSS */




/* THE RESPONSIVENESS BEGINS */
@media screen and (max-width: 600px){
    .dashboard-section{
        width: 100%;
        position: relative;
        z-index: 1;
    }

    
    .alt-search{
        display: inline;
    }

    .cards-section{
        width: 100%;
    }

    .employee-card{
        width: 250px;
        height: 345px;
        background-color: #ffff;
        margin-bottom: 1rem;
    }

    .input-addons{
        display: flex;
        justify-content: space-between;
    }

    .hamburger{
        display: block;
    }

    .terminate-icon{
        display: flex
    }

    .side-navigation{
        position: absolute;
        left: -200px;

    }

    .staffs-header{
        display: none;
    }

    .custom-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10px;
        min-width: 140px;
        padding: 12px;
        color: #ffff !important;
        background-color: #990202;
    }

    .upload-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10px;
        padding: 12px;
        color: #990202 !important;
        border: 1px solid #990202;
        background-color: rgba(153, 2, 2, 0.05);
    }

    .search-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }

    .terminate-icon{
        display: flex
    }

    .employees{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        width: 100%;
        padding: 0;
    }

    .search-container{
        display: none;
    }

    .filter-container{
        display: none;
    }

    #search-input{
        height: 58px;
        width: 200px;
        padding: 0px 16px 0px 16px; 
        border:0px;
        }

        #alt-search-text{
            height: 40px;
            width: 90%;
            padding: 0px 16px 0px 16px; 
            border:0px;
            margin-bottom: 5px;
        }

        #alt-search-text:focus{
            outline: none;  
        }


    @keyframes moveToRight{
        from{
            left: -200px;
            transform: translateX(-200px);
        }
        to{
            left: 0;
            transform: translateX(0);
        }
    }

    @keyframes moveToLeft{
        from{
            opacity: 1;
            transform: translateX(0);
        }
        to{
            opacity: 1;
            transform: translateX(-500px);
        }
    }


    select{
        padding: 10px; 
        background-color:#ffff; 
        border:none; 
        border-radius: 7px;
        font-family: "Inter";
        font-size: 10px;
    }

    select:focus{
        outline: none;
    }


    #dashboardHead{
        font-size: 17px !important;
        font-weight: 600;
    }

    #card-header{
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #card-figure{
        font-family: "Poppins";
        font-size: 33px;
        font-weight: 500 !important;
        margin-bottom: 5px;
    }

    #info{
        font-weight: 400;
        font-size: 10px;
        color: #990202;
        margin-left: 10px;
    }


    #recent-text{
        font-weight: 600;
        font-size: 0.9rem;
    }

    #file {
        width: 100% !important;
    }

}

@media screen and (max-width: 900px) and (min-width: 600px){
    .side-navigation{
        display: none;
    }

    .dashboard-section{
        width: 100%;
    }


    .terminate-icon{
        display: flex;
    }

    .progress-card{
        width: 28%;
    }

    .activity-section .recent-activities-section{
        width: 100%;
        padding: 2rem;
        height: auto;
    }

    .activity-section .activity-chart-section{
        width: 100%;
        padding: 2rem;
        height: auto;
    }

    .chart-container{
        width: 48%;
    }

    #info{
        font-weight: 400;
        font-size: 12px;
        color: #990202;
        margin-left: 10px;
    }

    #timestampId{
        color: #a9a9a9;
        font-size: 12px;
    }

    #recent-text{
        margin-bottom: 1.8rem;
    }


    #dashboardHead{
        font-size: 17px !important;
        font-weight: 600;
    }

    #card-header{
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #card-figure{
        font-family: "Poppins";
        font-size: 33px;
        font-weight: 500 !important;
        margin-bottom: 5px;
    }

    #file {
        width: 100% !important;
    }


}

@media screen and (max-width: 1300px) and (min-width: 601px){
    .side-navigation{
        display: block;
    }

    a{
        text-decoration: none;
        font-size: 11px;
        font-weight: 500;
        margin-left: 1rem;
        color: #373737;
    }

    .search-container{
        display: flex;
        align-items: center;
        height: 40px;
        width: 75%;    
        padding: 0 1rem;
        overflow: hidden;
        background-color: #ffff;
    }

    #search-input{
        height: 58px;
        width: 100%;
        padding: 0px 16px 0px 16px; 
        border:0px;
        }
}
/* END OF RESPONSIVENESS */