
.bio-data-section{
    display: flex;
    justify-content: space-between;
    height: 290px;
    overflow: hidden;
    width: 100%;
}

.information-section{
    margin-top: 1.5rem;
}


.employee-details{
    margin-top: 3rem;
}

.bio-data-header{
    font-size: 20px !important;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 2rem;
}

.information-header{
    font-size: 20px !important;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.info-header{
    display: flex;
    justify-content: space-between;    
}

#profile-container{
    width: 200px;
    height: 290px;
    background-color: #ffff;
    margin-bottom: 1rem;
}

.profile{
    text-align: center;
}

.bio-data-container{
    height: 219.04px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.promotion-container{
    height: 290.04px;
    width: 79%;
    overflow: hidden;
    background-color: #F5F5F5;
    overflow: hidden;
}

.information-container{
    height: 219.04px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}


.sub-padding{
    height: 219.04px;
    margin: 17px 31px;
    overflow: hidden;
}


.bio-data-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.information-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.bio-detail{
    margin-left: 10px;
    width: 18%;
    height: 5rem;
    overflow: hidden;
}

.information-detail{
    margin-left: 1rem;
    width: 18%;
    height: 5rem;
    overflow: hidden;
}

.info-texts{
    margin-bottom: 2rem;
}

label{
    font-size: 14.52px;
    font-weight: 700;
    color: #990202;
}

#label-detail{
    font-size: 12px;
}

#profile-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  #profile-name{
    color: #990202;
    font-size: 9.81px;
    margin-top: 1rem;
}

#profile-position{
    color: #990202;
    font-size: 8.5px;
    margin-top: 7px;
    margin-bottom: 5px;
}

#promotion-position{
    color: #727272;
    font-size: 8.5px;
    margin-top: 7px;
    margin-bottom: 5px;
}

#profile-department{
    color: #727272;
    font-size: 6.54px;
}

#promotion-department{
    color: #727272;
    font-size: 6.54px;
}

#promotion-date{
    margin-top: 2px;
}