@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.base-body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* THE NAVIGATION STYLES */
.side-navigation{
    height: 100vh;
    width: 18%;
    overflow: "hidden";
    background-color: #FFFF;
}

.side-navigation .navigation-section{
    margin: 2rem 1rem;
    height: 70%;
}

.navigation-logo{
    text-align: center;
}

.navigation-content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 1rem;
    color: #373737;

}

hr{
    background: #c0bebe;

}

#logo{
    margin-bottom: 1rem;
}

#dashboardId{
    background-color: #990202 !important;
}

#dash-text{
    color: white;
}


/* THE DASHBOARD STYLES */
.dashboard-section{
    height: 100vh;
    width: 82%;
    overflow: auto;
    padding: 2rem;
    padding-top: 4rem;
    background-color: #F5F5F5;
}

.dashboard-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}





#dashboardHead{
    font-size: 20px !important;
    font-weight: 800;
}

#myselect{
    padding: 10px; 
    background-color:#ffff; 
    border:none; 
    border-radius: 7px;
    font-family: "Inter";
}